* {
  box-sizing: border-box;
}

* {
  padding: 5px;
  margin: 0px;
}

body {
  font-family: helvetica;
  font-size: 1vw;
}

#pageTitle{
  font-size: 3vw;
}

#outputGrid{
  display: grid;
  grid-template-columns: repeat(4,25%);
}

.introImage{
  width: 95%;
}
